body {
    color: white;
    background: black;
}
button {
    color: black;
    background: blue;
    width: 110px;
    height: 25px;
    border-radius: 10px;
}
.wonResult {
    color: green;
}
.lostResult {
    color: red;
}
.tiedResult {
    color: blue;
}